.board-date {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 2rem;
}

.board-date > div > span:first-of-type {
    margin-right: 1.5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 1.2rem 0;
}

.top-box {
    font-size: 1.2rem;
}

.top > .nickname {
    margin-right: 1rem;
}

.category {
    margin-right: 0.5rem;
    font-weight: bold;
}

.board-body {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 5px;

    margin-bottom: 1.5rem;

    white-space: pre-line;
    box-sizing: border-box;
    word-break: break-all;
}

.file-wrap {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
}

.file-box {
    display: flex;
}

#commentForm {
    margin-top: 1.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(255, 242, 224);
}

.comment-wrap {
    border-radius: 5px;
    background-color: blanchedalmond;
    margin-top: 2rem;
}

.comment {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.comment-top > span {
    font-size: 0.9rem;
}

.comment-body {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    white-space: pre-line;
}

.comment-date {
    margin-bottom: 0.3rem;
}

.input-wrap {
    display: flex;
    align-items: flex-start;

    padding: 1rem 0;
}

.info-box {
    margin-bottom: 0.5rem;

    width: 20%;
    max-width: 6rem;
}

.info-box > input {
    width: 100%;
}

.input-box {
    display: flex;

    width: 90%;
    min-height: 3rem;
}

.input-box > textarea {
    width: 90%;
    margin: 0 0.5rem;
    resize: none;
}

button {
    width: 5rem;
}

.btn-box {
    display: flex;
    justify-content: center;

    padding-top: 1rem;

    border-top: 1px solid gray;
}

.btn-box > button:nth-of-type(2) {
    margin: 0 0.5rem;
}
