.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-box {
    display: flex;
    flex-direction: column;

    width: 95%;
    max-width: 50rem;

    padding: 2rem 1rem;

    border: 1px solid #dee2e6;
    border-radius: 5px;

    background-color: #f8f9fa;
}

.line {
    display: flex;
    box-sizing: border-box;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.as {
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 3rem;
    padding: 0.5rem 1rem;

    background-color: antiquewhite;
}

.user {
    width: 70%;
    padding: 0.5rem 1rem;
}

.user > input {
    width: 100%;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-box > button:first-of-type {
    margin-right: 0.5rem;
}
