.file-wrap {
    display: flex;
    flex-direction: column;
}

.point {
    color: red;
}

input,
select {
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f8f9fa;
}

.content {
    height: 8rem;
    resize: none;
    padding: 0.5rem;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-box {
    margin: 1rem 0;
}

a {
    color: white;
    text-decoration: none;
}

.check-box {
    display: flex;
    flex-direction: column;

    width: 95%;
    max-width: 50rem;

    padding: 2rem 1rem;

    border-radius: 5px;
    border: 1px solid gray;
    background-color: #f8f9fa;
}

.line:first-of-type {
    border-top: 1px solid gray;
}

.line {
    width: 100%;
    display: flex;
    box-sizing: border-box;

    border-bottom: 1px solid gray;
}

.as {
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 3rem;
    max-width: 9rem;
    padding: 0.5rem 1rem;

    background-color: rgb(255, 242, 224);
}

.user {
    width: 70%;
    padding: 0.5rem 1rem;
}

.user.password {
    display: flex;
}

.user.password > input:first-of-type {
    margin-right: 1rem;
}

.user > input,
.user > textarea {
    width: 100%;
}

.file-name {
    margin: 0 0.2rem;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn-box > button:first-of-type {
    margin-right: 0.5rem;
}
